@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family:vintage;
    src: url(../fonts/FontsFree-Net-Vintage-Smooth.ttf);
}
:root{
    --background-color:#FBF9F1; 
    --seconary-color:#92C7CF;
    --text-color:#65554F;
}
/* the header start */
.header-container{
    width: 100%;
    overflow: hidden;
    background-color: var(--background-color);
}

nav{
width: 96%;
height: 114px;
display: flex;
justify-content:space-between;
align-items: center;
background-color: var(--seconary-color);
margin: 20px auto;
border-radius: 50px;
}

.header-container nav .img {
    width: 176px;
    height: 100%;
}

.header-container nav .img .logo{
    max-width: 100%;
}

.left,.right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left a,.right a{
    padding: 20px;
    text-decoration: none;
    color:var(--text-color);
    font-family: Poppins;
    font-size: 19px;
}

.left i,.right i{
    padding: 20px;
    color:var(--text-color);
    font-size: 19px;
}

nav .right button{
    margin-right: 10px;
    background-color:#E5E1DA;
    border: none;
    color:var(--text-color);
    width: 169px;
    height: 56px;
    border-radius: 68px;
    transition: 0.3s;
    font-family:poppins;
    font-size: 19px;
}
nav .right button:hover{
    background-color: var(--text-color);
    color: var(--background-color);
    cursor: pointer;

}
nav .right p{
    color:var(--text-color);
    font-family: Poppins;
    font-size: 19px;
}
/* the header ends */
/* the landing start */
.landing-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;


}
.landing-container .img{
   width: 60%;
}
.landing-container .img img{
    width: 100%;
 }
 
.landing-container .special-heading{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 47%;
    margin-left: 50PX;
    margin-top: 100px;
}
.landing-container .special-heading h1{
    font-size: 46px;
    color: var(--text-color);
    font-family: Poppins;
}

.landing-container .special-heading p{
    margin-top: 60px;
    font-size: 25px;
    color: var(--text-color);
    font-family: Poppins;
    font-weight: 300;
}
.landing-container .special-heading button{
    margin-left: 10px;
    background-color:var(--text-color);
    border: none;
    color:var(--background-color);
    width: 169px;
    height: 56px;
    border-radius: 68px;
    transition: 0.3s;
    font-family:poppins;
    font-size: 19px;
    margin-top: 44px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.special-heading button i {
    transition: 0.3s;
}
.landing-container .special-heading button:hover{
    background-color: var(--seconary-color);
    color: var(--background-color);

}
.landing-container .special-heading button:hover i{
    transform: translatex(3px);
}
.head-2{
    font-family: vintage;
    font-size: 50px;
    color: #65554F;
    margin: 50px;

}
.img1 {
    
}
/* the landing end  */
